<div class="row">
  <div class="col-md-6">
    <h2>Users</h2>
    <% @users.each do |user| %>
      <%= user.first_name %>
    <% end %>
  </div>

  <!--  -->
  <div class="col-md-6" id="activity-feed">
    <h2>Recent Activity</h2>
    <%= render 'shared/activities' %>
  </div>
</div>