<div class="col-md-3">

</div>

<!--  -->
<div class="col-md-6">
  <div class="panel-body">
    <h1>Recent Activity</h1>
  </div>
  <ul>
    <% @documents.each do |document| %>
    <!-- Use papertrail for activity feed -->
      <li><span class="glyphicon glyphicon-remove"></span><%= document.name %> - edited at: <%= document.updated_at %></li>
    <% end %>
  </ul>
</div>
