<h1>User Permissions</h1>

<% @users.each do |user| %>
  <ul>
  <%= user.first_name %> <%= user.position %>
    <% user.permissions.each do |permission| %>
      <li><%= permission.folder.name %></li>
    <% end %>
  </ul>
<% end %>