<div class="col-md-8 col-md-offset-2 permissions">
  <h1 class="text-center">User Permissions</h1>

  <% @users.each do |user| %>
    <ul class="list-group" id="permissions-<%= user.id %>">
    <span class="user-name"><%= user.first_name %> <%= user.position %></span>
      <% user.permissions.each do |permission| %>
        <li class="list-group-item"><%= permission.folder.name %></li>
      <% end %>
    
    </ul>
  <% end %>
</div>