<div class="pricing">
  <ul>
    <!-- Personal -->
    <li class="unit price-warning">
      <div class="price-title">
        <h3>FREE</h3>
        <p>forever</p>
      </div>
      <div class="price-body">
        <h4>Personal</h4>
        <p>Single user</p>
        <ul>
          <li>Access from any device</li>
          <li>1 GB Storage</li>
          <li>30 day file recovery</li>
          <li>Edit docs in browser</li>
          <li><br /></li>
        </ul>
      </div>
      <div class="price-foot">
        <button type="button" class="btn btn-warning">Subscribe</button>
      </div>
    </li>

    <!-- Professional -->
    <li class="unit price-success">
      <div class="price-title">
        <h3>299 Birr</h3>
        <p>per month</p>
      </div>
      <div class="price-body">
        <h4>Professional</h4>
        <p>Single user</p>
        <ul>
          <li>10 GB Storage</li>
          <li>30 day file recovery</li>
          <li>In-browser edit</li>
          <li>Email support</li>
          <li><br /></li>
        </ul>
      </div>
      <div class="price-foot">
        <button type="button" class="btn btn-success">Buy Now</button>
      </div>
    </li>

    <!-- Business -->
    <li class="unit price-primary">
      <div class="price-title">
        <h3>500 Birr</h3>
        <p>per user per month</p>
      </div>
      <div class="price-body">
        <h4>Business</h4>
        <p>Starts at 5 users</p>
        <ul>
          <li>Unlimited Storage</li>
          <li>1 year file recovery</li>
          <li>Collaboration tools</li>
          <li>User management tools</li>
          <li>Folder password protection</li>
        </ul>
      </div>
      <div class="price-foot">
        <button type="button" class="btn btn-primary">Try a Week</button>
      </div>
    </li>
  </ul>
</div>