<div class="container-fluid">
  <div class="first-panel text-center">
    <p class="lead">Mesabya takes the headache out of organizing and securing your companies files, so you have more time for the important things!</p>

    <button class="btn btn-primary">Try for free!</button>
    
  </div>

  <!-- PANEL 1 - short description. three feature panels -->
  <div class="homepage-panel-1 text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="brand-logo-large">
          <%= image_tag 'mesabya/mesabya-logo-white-on-purple.jpg' %>
        </div>
        <div class="brand-logo-text">
          <span class="brand-amharic">መሳብያ</span> | <span class="brand">mesabya</span>
        </div>
        <div class="description">
          <p>Reporting and file storage solution for Ethiopia's forward thinking contractors!</p>
          <p>Ethiopia's first secure file storage solution for companies and professionals.</p>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid">
          <!-- Three descriptive boxes -->
          <div class="col-md-4 col-sm-4">
            <div class="thumbnail">
              <h3>Organize</h3>
              <p>Create, edit and delete folders</p>
              <i class="material-icons md-48">folder</i>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="thumbnail">
              <h3>Secure</h3>
              <p>Password protection and permissions management</p>
              <i class="material-icons md-48">safe</i>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 feature-box">
            <div class="thumbnail">
              <h3>Manage</h3>
              <p>Activity feeds and usage reports</p>
              <i class="material-icons md-48">breifcase</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="row">
  </div>

  <!-- Plans -->
  <div class="text-center">
      <%= render 'static_pages/plans' %>
  </div>
</div>

<%= render 'static_pages/footer' %>