<div class="jumbotron text-center">
  <h1><span class="brand-amharic">መሳብያ</span> | <span class="brand">mesabya</span></h1>
  <p>Reporting and file storage solution for Ethiopia's forward thinking contractors!</p>
</div>
<div class="homepage-panel-1 text-center">
  <%= image_tag 'mesabya/mesabya-white-on-purple.png' %>
</div>
<div class="text-center">
  <%= render 'static_pages/plans' %>
</div>