<div class="modal fade" tabindex="-1" role="dialog" id="dropzoneModal">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- HEADER -->
      <div class="modal-header">
        Upload document
      </div>
      <div class="modal-body">
        <form action="/companies/1/folders/documents"
              class="dropzone"
              id="my-awesome-dropzone"></form>
      </div>
          <!-- FOOTER -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->