<!-- Left side vertical tabs -->
<div class="tabs-left clearfix" id="folder-tabs">
  <ul class="nav nav-tabs" id="folder-tabs-nav">
    <% @folders.each do |folder| %>
      <li role="presentation" class="folder-button"><%= link_to folder.name, folder_documents_path(folder), remote: true %></li>
    <% end %>
      <li role="presentation" class="new-folder-button" ><%= link_to "Create new folder", new_folder_path, remote: true%></li>
  </ul>
</div>
<!-- Window -->
<div id="folder-window">
  <div class="container-fluid">
    <% if @folder %>
      <%= render 'documents/documents', folder: @folder %>
    <% else %>
      Select a folder
    <% end %>
  </div>
</div>
