<div class="nav-side-menu">
  <!-- Logo -->
  

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
    <% if true #user_signed_in? %>
      <li>
        <%= link_to root_path do %>
          <i class="material-icons">home</i> Dashboard
        <% end %>
      </li>

      <li  data-toggle="collapse" data-target="#company-nav" class="menu-link collapsed">
        <%= link_to '#' do %>
          <i class="material-icons">business_center</i> Company Name
          <i class="material-icons expand-more">expand_more</i>
        <% end %>
      </li>
      <ul class="sub-menu collapse" id="company-nav">
        <li><i class="material-icons chevron-right">chevron_right</i><a href="#">Files</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#projects-nav" class="menu-link collapsed">
        <%= link_to '#' do %>
          <i class="material-icons">location_city</i> Projects
          <i class="material-icons expand-more">expand_more</i>
        <% end %>
      </li>  
      <ul class="sub-menu collapse" id="projects-nav">
        <% current_company.projects.each do |project| %>
          <li><i class="material-icons chevron-right">chevron_right</i><%= project.name %></li>
        <% end %>
      </ul>

      <% end %>

    </ul>
  </div>
</div>