<div class="nav-side-menu">
  <!-- Logo -->
  

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
    
      <!-- Home -->
        <li>
          <%= link_to root_path do %>
            <i class="material-icons sidebar-icon">home</i> <span class="sidebar-label">Home</span>
          <% end %>
        </li>

      <!-- COMPANY -->
      <li>
        <%= link_to 'Admin Dashboard', '#' %>
      </li>
      
    </ul>
  </div>
</div>