<!-- <form action="/file-upload" class="dropzone">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
 -->
<% @documents.each do |document| %>
  <li><%= document.name %></li>
  <li><%= document.file %></li>
<% end %>

 <% if true %>
  <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#dropzoneModal">Upload document</button>

  <%= render 'dropzone_modal' %>
<% end %>