<!-- <form action="/file-upload" class="dropzone">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
 -->
<% if true %>
  <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#dropzoneModal">Upload document</button>

  <%= render 'dropzone_modal' %>
<% end %>