<div class="modal fade" tabindex="-1" role="dialog" id="dropzoneModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Upload document
      </div>
      <div class="modal-body">
        <%= render 'shared/document_form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- 

<div class="modal fade" tabindex="-1" role="dialog" id="dropzoneModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Upload document
      </div>
      <div class="modal-body">
        <form action="/companies/1/folders/documents"
              class="dropzone"
              id="my-awesome-dropzone"></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> -->