<li class="list-group-item" 
    id="permission-for-user-<%= permission.user_id %>-folder-<%= permission.folder_id %>">
  <%= permission.folder.name %>
  <span> Delete permissions button </span>
</li>