#activity-feed{
  .glyphicon-plus{
    color: #4CAF50;
  }
  .glyphicon-remove{
    color: #F44336;
  }
  .activity-file-name{
    font-weight: bold;
    color: #7E57C2;
  }

  .activity-folder-name{
    font-weight: bold;
    color: #607D8B;
  }
}

.glyphicon-update {
  @extend .glyphicon-edit !optional;
}

.glyphicon-create {
  @extend .glyphicon-plus !optional;
}

.glyphicon-destroy {
  @extend .glyphicon-remove !optional;
}

.company-edit-form-submit{
  margin-top: 15px;
}

.users-section{
  .permissions-link{
    margin-top: 20px;
    float: right;
  }
  .user-name{
    font-weight: bold;
  }
  .user-position{
    font-weight: 100;
  }
}

/*Permissions*/
  #permissions{
    .user-name{
      font-weight: bold;
    }
    .permission-add{
      float: right;
    }
    .permission-remove{
      float: right;
      color: #F44336;
    }
    .permissions-dropdown{
      float: right;
      list-style: none;
      li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .dropdown-button{
        color: #8bc34a;
        margin-right: 18px;
      }
      .dropdown-menu-buttons{
        color: #ffffff;
        background: rgba(255, 255, 255, 0.01);
        border: 0;
        border-radius: 0;
        padding: 2px 10px;
        margin: 0px;
      }
    }
    .folder-icon{
      margin-right: 10px;
    }
    .user-permissions-heading{
      padding: 0px 10px;
    }
  }

  .users{
    .delete-user-button{
      float: right;
      color: #F44336;
    }
    .user-icon{
      margin-right: 10px;
    }
  }

  .comment-created-at{
    float: right;
  }