#activity-feed{
  .glyphicon-plus{
    color: #4CAF50;
  }
  .glyphicon-remove{
    color: #F44336;
  }
  .activity-file-name{
    font-weight: bold;
    color: #7E57C2;
  }

  .activity-folder-name{
    font-weight: bold;
    color: #607D8B;
  }
}

.glyphicon-update {
  @extend .glyphicon-edit !optional;
}

.glyphicon-create {
  @extend .glyphicon-plus !optional;
}

.glyphicon-destroy {
  @extend .glyphicon-remove !optional;
}

.users-section{
  .permissions-link{
    margin-top: 20px;
    float: right;
  }
  .user-name{
    font-weight: bold;
  }
}

/*Permissions*/
  #permissions{
    .user-name{
      font-weight: bold;
    }
    .permission-add{
      float: right;
    }
    .permission-remove{
      float: right;
      color: #F44336;
    }
    .permissions-dropdown{
      li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .permissions-dropdown-button{
        color: #ffffff;
        background: rgba(255, 255, 255, 0.01);
        border: 0;
        border-radius: 0;
        padding: 2px 10px;
        margin: 0px;
      }
    }
    
  }