@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
}

/*DOCUMENTS*/

  .document-file-type{
    float: right;
  }

  #document-upload-button{
    float: right;
    margin-right: 10px;
  }


/* DOCUMENT UPLOAD MODAL*/
  #documentUploadModal{
    .cancel-button{
  /*    float: right;
      padding-left: 0px;
      padding-right: 0px;*/
    }
    .submit-button{
      float: right;
      margin-top: 0px;
    }
    .progress{
      margin-top: 10px;
    }
  }
  .btn-file {
    padding: 8px 15px;
    margin-bottom: 10px;
    input{
      display: none;
    }
    label{
      margin-bottom: 0px;
      color: #757575;
    }
  }
  #upload-file-info{
    /*font-size: 12px;*/
    /*background: #FF5722;*/
  }

  .progress-wrapper{
    display: none;
  }

/*Table*/
  #documentsTable{
    .head-row{
      border-bottom: 3px solid #0975b8;
    }
    .body-row{
      border-bottom: 2px solid rgba(9, 117, 184, 0.41);
      td {
        vertical-align: middle;
      }
      .zoho-cell{
        padding: 0px;
        vertical-align: middle;
      }
    }
    .zoho-edit{
      margin-top: -5px;
      padding: 0px 10px;
    }
  }