@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
}

/* FOLDER */
  #folder-tabs{
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #987244;*/
    .folder-button{
      &:hover{
      }
    }
    .new-folder-button{
      color: #4CAF50;
      border-right: 0;
      border-bottom: 0;
      a{
        color: #8BC34A;
      }
      &:hover{
        background: #388E3C;
        border-top-right-radius: 3px;
      }
    }
    li{
      vertical-align: middle;      
      &:hover{
        @include box-shadow(4px,10px);
      }
      &:active{
        background: #fff;
      }
      a{
        &:hover{
          background: #fff;
          border-top: #9e9e9e;
        }
      }
    }
    @media(min-width: 768px){
      li{
        border-right: 1px solid #673ab7;
      }
      .new-folder-button{
      }
    }
    @media(max-width: 767px){
      li {
        border-bottom: 1px solid #E0E0E0;
        border-left: 0;
      }
      .new-folder-button{
      }
    }
  }
  #folder-window{
    /*background: #292929;*/
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 10px;
    /*border: 1px solid rgba(119, 119, 119, 0.3)*/
  }
  .folder-title{
    margin-top: 0px;
  }
  .folder-options-button{
    float: right;
  }
  .new-folder-button{
    border-top-right-radius: 3px;
    /*&:hover{
      background: #4CAF50;
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      border-radius: 3px;
      border: 0;
    }*/
  }
  .new_folder{
    label{
      /*color: white;*/
    }
  }
  .documents-folder{
    width: 100%;
  }
  
  .document-file-type{
    float: right;
  }
  .document-panel{
    background: #FAFAFA;
    margin-bottom: 10px;
    @include box-shadow(2px,4px);
    border: 0;
    .document-panel-body{
      padding: 5px;
      .document-name{
        h5{
          margin: 0;
        }
      }
      .document-created-at{
        float: right;
      }
      .document-file-size, .document-file-update-at{
        color: #616161;
      }
      .document-icon{
        float: left;
        height: 58px;
        width: 58px;
        margin-right: 10px;
        img{
          height: 58px;
          width: 58px;
          border-radius: 5px;
        }
      }
      a{

      }
    }
    .document-delete{
      float: right;
      height: 24px;
      margin-top: -2px;
      margin-bottom: 2px;
      margin-left: 10px;
      color: #FFFFFF;
      background: #F44336;
      border-radius: 2px;
    }
  }
  #document-upload-button{
    float: right;
    margin-right: 10px;
  }


/* DOCUMENT UPLOAD MODAL*/
  #documentUploadModal{
    .cancel-button{
  /*    float: right;
      padding-left: 0px;
      padding-right: 0px;*/
    }
    .submit-button{
      float: right;
      margin-top: 0px;
    }
    .progress{
      margin-top: 10px;
    }
  }
  .btn-file {
    padding: 8px 15px;
    margin-bottom: 10px;
    input{
      display: none;
    }
    label{
      margin-bottom: 0px;
      color: #757575;
    }
  }
  #upload-file-info{
    /*font-size: 12px;*/
    /*background: #FF5722;*/
  }

  .progress-wrapper{
    display: none;
  }

  #documentsTable{
    .head-row{
      border-bottom: 3px solid #673ab7;
    }
    .body-row{
      border-bottom: 2px solid #9575CD;
    }
  }