@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
}

/*DOCUMENTS*/

  .zoho-edit{
    margin-top: -5px;
    padding: 0px 10px;
  }

  .document-file-type{
    float: right;
  }
  .document-panel{
    background: #FAFAFA;
    margin-bottom: 10px;
    @include box-shadow(2px,4px);
    border: 0;
    .document-panel-body{
      padding: 5px;
      .document-name{
        h5{
          margin: 0;
        }
      }
      .document-created-at{
        float: right;
      }
      .document-file-size, .document-file-update-at{
        color: #616161;
      }
      .document-icon{
        float: left;
        height: 58px;
        width: 58px;
        margin-right: 10px;
        img{
          height: 58px;
          width: 58px;
          border-radius: 5px;
        }
      }
      a{

      }
    }
    .document-delete{
      float: right;
      height: 24px;
      margin-top: -2px;
      margin-bottom: 2px;
      margin-left: 10px;
      color: #FFFFFF;
      background: #F44336;
      border-radius: 2px;
    }
  }
  #document-upload-button{
    float: right;
    margin-right: 10px;
  }


/* DOCUMENT UPLOAD MODAL*/
  #documentUploadModal{
    .cancel-button{
  /*    float: right;
      padding-left: 0px;
      padding-right: 0px;*/
    }
    .submit-button{
      float: right;
      margin-top: 0px;
    }
    .progress{
      margin-top: 10px;
    }
  }
  .btn-file {
    padding: 8px 15px;
    margin-bottom: 10px;
    input{
      display: none;
    }
    label{
      margin-bottom: 0px;
      color: #757575;
    }
  }
  #upload-file-info{
    /*font-size: 12px;*/
    /*background: #FF5722;*/
  }

  .progress-wrapper{
    display: none;
  }

  #documentsTable{
    .head-row{
      border-bottom: 3px solid #673ab7;
    }
    .body-row{
      border-bottom: 2px solid #9575CD;
      td {
        vertical-align: middle;
      }
      .zoho-cell{
        padding: 0px;
        vertical-align: middle;
      }
    }
    .zoho-edit{
      background: black !important;
    }
  }