@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
}


/* FOLDER */

  #folder-tabs{
    background: #fff;
    .new-folder-button{
      color: #4CAF50;
      a{
        color: #8BC34A;
      }
      &:hover{
        a{
          color: #aed581;
        }
      }
    }
    li{
      vertical-align: middle;      
      &:hover{
        @include box-shadow(4px,10px);
      }
      &:active{
        background: #fff;
      }
      a{
        &:hover{
          background: #fff;
        }
      }
    }
  }
  @media (min-width: 768px){
      #folder-tabs{
        height: 100%;
        width: 230px;
        height: 100%;
        float: left;
        border-right: 1px solid #673ab7;
        .nav-tabs{
          background: #fff;
          width: 100%;
        }
        li{
          width: 100%;
          /*border-bottom: 1px solid #673ab7;*/
        }
      }
      #folder-window{
        margin-left: 240px;
        padding-top: 10px;
      }
    }
  @media(max-width: 767px){
    li {
      border-bottom: 1px solid #E0E0E0;
    }
    .new-folder-button{
    }
  }

  /*#folder-window{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 10px;
  }
  .folder-title{
    margin-top: 0px;
  }
  .folder-options-button{
    float: right;
  }
  .new-folder-button{
    border-top-right-radius: 3px;
  }
  .new_folder{
    label{
    }
  }
  .documents-folder{
    width: 100%;
  }
}*/