@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
}

@mixin transition($s){
  -webkit-transition: all $s ease;
    -moz-transition: all $s ease;
    -o-transition: all $s ease;
    -ms-transition: all $s ease;
    transition: all $s ease;
}
/* NAVIGATION*/

  /* Fix navbar-right padding */
  .brand{
    color: white;
  }
  #main-navbar{
    background-color: #673AB7;
    padding-right: 15px;
    @include box-shadow(3px, 3px);
    border: 0;
    @include transition(0.3s);
    .navbar-toggle{
      @media(max-width: 767px){
        @include transition(0.2s);
        border: 0;
        background-color: #673AB7;
        span{
          background: white;
        }
        &:hover{
          @include box-shadow(2px, 4px);
        }
      }
    }
    #navbar{
      ul li a{
        color: rgba(255, 255, 255, 0.8);
        &:hover{
          background-color: #432677;
        }
        &:focus{
          background-color: #432677;
        }
        &:visited{
          background-color: #432677;
        }
        .open a{
          background-color: #432677;
        }
      }
    }
    .navbar-header{
      .navbar-brand{
        padding-top: 10px;
      }
      .amharic{
        letter-spacing: 2px;
      }
    }
  }
  .nav-side-menu{
    .material-icons{
        margin-bottom: 3px;
        margin-right: 10px;
    }
  }
  ul.nav-tabs.project-nav{
    /*material design shadow*/
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0;
    background: #4CAF50;
    li{
      vertical-align: middle;
    }
    li:hover{
      background-color: #2E7D32;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  }

/*SCROLLBAR*/
/*  #mCSB_1_container{
    margin-right:15px;
  }
  #mCSB_2_container{
    margin-right:15px;
  }*/
  
/*CONTENT*/
  #content{
    z-index: -1;
    overflow-y: scroll;
    padding-top: 15px;
    min-width: 200px;
    margin-left: 0px;
  }
  @media(min-width: 1200px){
    #content{
    }
  }
  @media(min-width: 768px){
    #content{
    }
  } 
  @media(max-width: 767px){
    #content{
    }
  }
  @media(max-width: 480px){
    #content{
    }
  }
  @media(max-width: 299px){
    #content{
    }
  }

  #content {
    /* for the animation */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }