html, body, #sidebar, #content{
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  overflow: hidden; 
}

/*SCROLLBAR*/
  #mCSB_1_container{
    margin-right:15px;
  }
  #mCSB_2_container{
    margin-right:15px;
  }