html, body, #sidebar, #content, .folders-container, #folder-window, #folder-wrapper, .documents-folder, #homepage-wrapper{
  height: 100%;
}
#content .container-fluid{
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  overflow: hidden; 
}