/*color: #3f51b5;
font-color: rgba(255,255,255,0.84);
*/

/*TRANSITIONS*/
  #sidebar {
    /* for the animation */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }


  #sidebar-links{
    display: none;
  }
  #sidebar{
    height: 100%;
    float: left;
    overflow: hidden;
  }
  @media(min-width: 1200px){
    #sidebar{
      margin-top: 5px;
      -webkit-transition: all 0.02s ease;
      -moz-transition: all 0.02s ease;
      -o-transition: all 0.02s ease;
      -ms-transition: all 0.02s ease;
      transition: all 0.02s ease;
    }
  }
  @media (min-width: 768px){
    #sidebar{
      width: 300px;
      background: grey;
    }
    .sidebar-collapsed {
        margin-left: -300px;
      }
  }
  @media (max-width: 767px){
    #sidebar{
      width: 300px;
      background: blue;
    }
    .sidebar-collapsed {
      margin-left: -300px;  
    }
  }
  @media(max-width: 299px){
    #sidebar{
      display: none;
    }
    #sidebar-links{
      display: inherit;
    }
  }

  #sidebar-toggle{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 5px;
    margin-left: 305px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 150, 136, 0.1);
    color: rgba(255, 255, 255, 0.5);
    i {
      margin: 0px;
    }
    &:hover{
      background: rgba(0, 150, 136, 0.5);
      color: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      border-radius: 3px;
      border: 0;
    }
  }
  @media(min-width: 1200px){
    #sidebar-toggle{
    }
  }




/* Brand */
  .amharic-brand{
    color: rgb(255, 255, 255);
    font-size: 22px;
    letter-spacing: 1px;
  }


/* Main Menu */
  .nav-side-menu {
    overflow-y: hidden;
    font-size: 13px;
    font-weight: 200;
    background-color: #00796B;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
  }
  .nav-side-menu .brand {
    background-color: #004D40;
    border-bottom: 1px solid #00483C;
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    cursor: pointer;

  }

  .nav-side-menu li:hover {
    border-left: 3px solid #FFEB3B;
    border-bottom: 1px solid #00695C;
    background-color: #004D40;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #FFEB3B;
    background-color: #004D40
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #004D40;
    border-bottom: 1px solid #00695C;
    color: #fff;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #fff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }

  .nav-side-menu .menu-list .menu-content {
      display: block;
    }

/*Sub-menu--------------*/
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #FFEB3B;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #FFEB3B;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #009688;
    border: none;
    line-height: 40px;
    border-bottom: 1px solid #01776C;
    margin-left: 0px;
    max-height: 40px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #00796B;
  }


/*ICONS----------------*/
  .expand-more{
    float: right;
    padding-top: 12px;
  }

  .chevron-right{
    margin-top:7px;
    float: left;
  }
