@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

/*color: #3f51b5;
font-color: rgba(255,255,255,0.84);
*/

/*TRANSITIONS*/
  #sidebar {
    /* for the animation */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }


  #sidebar-links{
    display: none;
  }
  #sidebar{
    height: 100%;
    float: left;
    overflow: hidden;
  }
  @media(min-width: 1200px){
    #sidebar{
    }
  }
  @media (min-width: 768px){
    #sidebar{
      width: 300px;
    }
    .sidebar-collapsed {
        margin-left: -300px;
      }
  }
  @media (max-width: 767px){
    #sidebar{
      width: 300px;
      background: blue;
    }
    .sidebar-collapsed {
      margin-left: -300px;  
    }
  }
  @media(max-width: 299px){
    #sidebar{
      display: none;
    }
    #sidebar-links{
      display: inherit;
    }
  }

  #sidebar-toggle{
    height: 36px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 5px;
    margin-left: 250px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(103, 58, 183, 0.2)
    i {
      margin: 0px;
    }
    &:hover{
      background-color: #673AB7;
      color: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      border-radius: 3px;
      border: 0;
    }
  }
  @media(min-width: 1200px){
    #sidebar-toggle{
    }
  }
  .sidebar-collapsed{
    #sidebar-toggle{
      margin-left: 305px;
    }
  }



/* Brand */
  .amharic-brand{
    color: rgb(255, 255, 255);
    font-size: 22px;
    letter-spacing: 1px;
  }


/* Main Menu */
  .nav-side-menu {
    overflow-y: hidden;
    font-size: 13px;
    font-weight: 200;
    background-color: #673AB7;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
  }
/*  .nav-side-menu .brand {
    background-color: #004D40;
    border-bottom: 1px solid #00483C;
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
  }*/
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    cursor: pointer;

  }

  .nav-side-menu li:hover {
    border-left: 3px solid #FFEB3B;
    /*border-bottom: 1px solid #2B9A7F;*/
    background-color: #512DA8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #FFEB3B;
    background-color: #004D40
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #432677;
    /*border-bottom: 1px solid #00695C;*/
    color: #fff;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #fff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }

  .nav-side-menu .menu-list .menu-content {
      display: block;
    }

/*Sub-menu--------------*/
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #FFEB3B;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #FFEB3B;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #7E57C2;
    border-left: 3px solid #512DA8;
    line-height: 40px;
    /*border-bottom: 1px solid #01776C;*/
    margin-left: 0px;
    max-height: 40px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #6D44B5;
  }

/* LINKS */
  #menu-content{
    .sidebar-icon{
      position: absolute;
      margin-top: 13px;
    }
    .sidebar-label{
      margin-left: 40px;
    }

  }

/*ICONS----------------*/
  .expand-more{
    float: right;
    padding-top: 12px;
  }

  .chevron-right{
    margin-top:7px;
    float: left;
  }
