/*Compass css3 vendor prefixes*/
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";

@mixin box-shadow($a, $b){
  -webkit-box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 $a $b 0 rgba(0, 0, 0, 0.2), 0 $a $b 0 rgba(0, 0, 0, 0.19);
}

/* Home Page */

  .brand-amharic{
    letter-spacing: 3px;
  }
  #homepage-wrapper{
    overflow: auto;
  }
  .first-panel{
    margin-right: -15px;
    margin-left: -15px;
    height: 400px;
    .lead{
      margin: auto;
      width: 75%;
      padding-top: 150px;
    }    
  }
  .homepage-panel-1{
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-out);
    margin-left: -15px;
    margin-right: -15px;
    background-color: #673BB7;
    padding: 30px;
    @media(max-width: 767px){
      img{
        height: 60%;
        width: 60%;
      }
    }
    .brand-logo-text{
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      margin: auto;
    }
    .description{
      font-size: 18px;
      color: white;
      padding: 10px;
    }
    .thumbnail{
      @include transition-duration(0.5s);
      @include border-radius(5px);
      height: 200px;
      color: rgba(255,255,255,0.9);
      &:hover{
        @include box-shadow(5px,10px);
        color: rgba(255,255,255,1);
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

/*Plans*/
  .pricing{
    padding-top: 30px;
  }